# ------------------------------
# macOS
# ------------------------------
.DS_Store

# ------------------------------
# Xcode
# ------------------------------
/*.xcodeproj
xcuserdata/

# ------------------------------
# Swift Package Manager
# ------------------------------
Packages
.build
.swiftpm

# ------------------------------
# Ruby Gems
# ------------------------------
vendor
